<html lang="en" ng-app="app">
    <head>
        <title>Sketch-route challenge</title>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="initial-scale=1" />
    </head>
    <body layout="column" ng-controller="AppController as main">

    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h1>Sketch-route challenge</h1>
            <span flex></span>
            <md-button ng-click="main.clearAllPolylines()" class="md-icon-button" aria-label="Favorite">
                <ng-md-icon icon="clear" style="fill: #fff" size="24" aria-label="Clear all tracks"></ng-md-icon> 
            </md-button>
            <md-button ng-click="main.showMyLocation()" class="md-icon-button" aria-label="Favorite">
                <ng-md-icon icon="my_location" style="fill: #fff" size="24" aria-label="Show my location"></ng-md-icon> 
            </md-button>
        </div>
    </md-toolbar>

    <div layout="row" flex>
        <div layout="column" flex id="content">
            <div id="map" layout="column" flex></div>
        </div>
    </div>
    <!--Google Map-->
    <!--<script src="//maps.google.com/maps/api/js"></script>-->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry,drawing"></script>

    <!-- Angular Material Dependencies -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script> 

    <!-- inject:js -->
    <script src="js/app.js"></script>
    <script src="js/app/app-controller.js"></script>
    <!-- endinject -->

</body>
</html>
